<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>IQcarry的个人简历</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Premium HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="premium website templates, premium html5, premium template, premium bootstrap, premium website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="stylesheet" type="text/css" href="css/head.css">
	<link rel="icon" href="image/head.jpg" type ="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou|Zhi+Mang+Xing&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/my-style.css">


	<!-- Modernizr JS -->
	<script type="text/javascript" src="js/head.js"></script>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

	<style>
		* {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	</style>

	<body>
	<header class="head">
		<div class="headbox">
			<div class="headLogo" onclick="toindex()">IQcarry.github.io</div>
			<ul class="headul">
				<li class="headli" onclick="togithub()"><a class="lia">GitHub</a></li>
				<li class="headli" onclick="toblog()"><a class="lia">博客园</a></li>
				<li class="headli" onclick="toresume()" style="background: rgba(0,0,0,0.55);"><a class="lia">个人简历</a></li>
				<li class="headli" onclick="toindex()"><a class="lia">首页</a></li>
			</ul>
		</div>
	</header>
	<div class="fh5co-loader"></div>

	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(image/4.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div :style="{backgroundImage: 'url(' + 头像地址 + ')'}" class="profile-thumb"></div>
							<h1><span>IQcarry</span></h1>
							<h3><span># 只 要 学 不 死 ， 就 往 死 里 学</span></h3>
							<input type="button" value="pdf 简历一览" style="color: #0088ff;width: 200px;height: 50px;border: 0;border-radius: 5px;margin-top: 30px;" onclick="repeat()">
							<h2 style="margin-top: 30px;font-size: 8vh">👇</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

		<div id="modal_volume" style="position: fixed; text-align: center; width: 100%; height: 100%; top: 0; z-index: 9999; display: none;">
			<table style="width: 100%; height: 100%;">
				<tr>
					<td align="center" style="">
						<div style="width: 900px; position: relative">
							<a href="image/resume.png"><img src="image/resume.png" width="60%" height="60%"/></a>
							👉<a href="javascript:$('#modal_volume').fadeOut();"><img src="image/cha.png" width="18px" height="18px"/></a>
						</div>
					</td>
				</tr>
			</table>
		</div>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>关&nbsp;&nbsp;/&nbsp;&nbsp;于&nbsp;&nbsp;/&nbsp;&nbsp;我</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">姓名:</span><span class="second-block">{{姓名}}</span></li>
						<li><span class="first-block">号码:</span><span class="second-block">{{号码}}</span></li>
						<li><span class="first-block">邮箱:</span><span class="second-block">{{邮箱}}</span></li>
						<li><span class="first-block">个人网页:</span><span class="second-block">{{个人网页}}</span></li>
						<li><span class="first-block">地址:</span><span class="second-block">{{地址}}</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>{{关于我标题}}</h2>
					<p>{{关于我内容}}</p>
					<p>
						<ul class="fh5co-social-icons">
							<li v-for="el in 联系方式" style="margin-right:5px;border-radius:10px ">
									<a :href="el.地址" v-if="el.类型==='instagram'" target="_blank"><i class="icon-instagram2" ></i></a>
									<a :href="el.地址" v-if="el.类型==='git'" target="_blank"><i class="icon-github" ></i></a>
									<a :href="el.地址" v-if="el.类型==='微信'" target="_blank"><i class="icon-wechat" ></i></a>
									<a :href="el.地址" v-if="el.类型==='微博'" target="_blank"><i class="icon-sina-weibo" ></i></a>
									<a :href="'http://wpa.qq.com/msgrd?v=3&uin='+el.地址+'&site=qq&menu=yes'" v-if="el.类型==='qq'" target="_blank">
										<i class="icon-qq" ></i>
									</a>
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>我&nbsp;&nbsp;/&nbsp;&nbsp;的&nbsp;&nbsp;/&nbsp;&nbsp;简&nbsp;&nbsp;/&nbsp;&nbsp;历</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>工作经历</h3></div>
						</li>
						<li class="animate-box" v-for="(el,index) in 工作经历" :class="index%2===0?'timeline-unverted':'timeline-inverted'">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{el.职业名称}}</h3>
									<span class="company">{{el.公司名称}} - {{el.时间}}</span>
								</div>
								<div class="timeline-body">
									<p>{{el.介绍}}</p>
								</div>
							</div>
						</li>
						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>教育经历</h3></div>
						</li>
						<li class=" animate-box"  v-for="(el,index) in 教育经历" :class="index%2===0?'timeline-unverted':'timeline-inverted'">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{el.学段}}</h3>
									<span class="company">{{el.学校名称}} - {{el.时间}}</span>
								</div>
								<div class="timeline-body">
									<p>{{el.介绍}}</p>
									<p>{{el.专业}}</p>
									<p>{{el.专业成绩}}</p>
									<p>{{el.主修课程}}</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>项&nbsp;&nbsp;/&nbsp;&nbsp;目&nbsp;&nbsp;/&nbsp;&nbsp;经&nbsp;&nbsp;/&nbsp;&nbsp;验</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center" v-for="(el,index) in 项目经验">
						<div class="feature-left" style="width:100%">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>{{el.名称}}</h3>
								<p>{{el.介绍}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>技&nbsp;&nbsp;/&nbsp;&nbsp;能&nbsp;&nbsp;/&nbsp;&nbsp;特&nbsp;&nbsp;/&nbsp;&nbsp;长</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center" v-for="el in 技能特长">
					<div class="chart" :data-percent="el.进度"><span><strong>{{el.名称}}</strong>{{el.进度}}%</span></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>我&nbsp;&nbsp;/&nbsp;&nbsp;的&nbsp;&nbsp;/&nbsp;&nbsp;荣&nbsp;&nbsp;/&nbsp;&nbsp;誉</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box" v-for="el in 我的荣誉">
					<a :href="el.地址" class="work" :style="'background-image: url('+el.图片+');'">
						<div class="desc">
							<h3>{{el.名称}}</h3>
							<span>{{el.简介}}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Validate JS -->
	<script src="js/jquery.validate.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="js/jquery.easypiechart.min.js"></script>

	<!-- Main -->
	<script src="js/main.js"></script>
	<!-- 配置相关 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="config.js"></script>

	<script>
		function repeat() {
			$('#modal_volume').fadeIn();
		}
	</script>
	</body>
</html>

